*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_id{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 10pt;
}

body{
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-top: 5pt;
}


